body {
    margin: 0px;
    background-color: #F7F7F7;
}

div {
    display: flex;
}

div, input {
    font-size: 16px;
	font-family: Arial,sans-serif;
    color: #222;
}

div:hover {
    cursor: default;
}

#app {
    justify-content: center;
}


/**********************************/
.login {
    flex-direction: row;
    margin: 12px;
    width: 80%;
    max-width: 400px;
}

.login__name-input {
    flex-grow: 1;
}

.login__login-button {
    flex-direction: row;
    margin-left: 6px;
    padding: 2px;
    border: 1px solid #222;
}

.login__login-button span {
    align-self: baseline;
}

.login_invalid .login__login-button {
    color: #666;
}

.login_invalid .login__name-input {
    color: lightcoral;
}

/**********************************/
.active-user {

}

.active-user__label {
    margin-right: 6px;
}


/**********************************/
.user-label {
    color: darkblue;
}

.user-label.user-label_own {
    color: darkgreen;
}

.user-label__text {
    font-weight: bold;
}


/**********************************/
.chat {
    flex-direction: column;
    width: 80%;
    max-width: 600px;
}

.chat__header {
    flex-direction: row-reverse;
    margin: 6px 0px 12px 0px;
}

.chat__body {
    flex-direction: column;
}

/**********************************/
.history {
    flex-direction: column;
}


/**********************************/
.history-item {
    flex-direction: row;
}

.history-item__separator {
    margin: 0px 0px 0px 6px;
}


/**********************************/
.message-input {
    flex-direction: row;
    margin-top: 3px;
}

.message-input__input {
    flex-grow: 1;
}

.message-input__send {
    flex-direction: row;
    margin-left: 6px;
    padding: 2px;
    border: 1px solid #222;
}

.message-input__send span {
    align-self: baseline;
}
