body {
    margin: 0px;
    background-color: #F7F7F7;
}

div {
    display: flex;
}

div, input {
    font-size: 16px;
	font-family: Arial,sans-serif;
    color: #222;
}

div:hover {
    cursor: default;
}

#app {
    justify-content: center;
}


/**********************************/
.login {
    flex-direction: row;
    margin: 12px;
}

.login__login-button {
    flex-direction: row;
    margin-left: 6px;
    padding: 2px;
    border: 1px solid #222;
}

.login__login-button span {
    align-self: baseline;
}


/**********************************/
.active-user {

}

.active-user__label {
    margin-right: 6px;
}


/**********************************/
.user-label {

}

.user-label__text {
    font-weight: bold;
}


/**********************************/
.chat {
    flex-direction: column;
    width: 80%;
    max-width: 800px;
}

.chat__header {
    flex-direction: row-reverse;
    margin: 3px 0px 3px 0px;
}

.chat__body {
    flex-direction: column;
}

/**********************************/
.history {
    flex-direction: column;
}


/**********************************/
.history-item {
    flex-direction: row;
    align-self: flex-end;
}

.history-item_own {
    flex-direction: row-reverse;
    align-self: flex-start;
}

.history-item__separator {
    margin: 0px, 3px, 0px, 3px;
}


/**********************************/
.message-input {
    flex-direction: row;
}

.message-input__input {
    flex-grow: 1;
}

.message-input__send {
    flex-direction: row;
    margin-left: 6px;
    padding: 2px;
    border: 1px solid #222;
}

.message-input__send span {
    align-self: baseline;
}
